* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

:root {
    --main-color: #171100;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    font-family: "Sen", sans-serif;
    height: 10000px;
}

body {
    font-size: 1.6rem;
}
/* Common */
a {
    text-decoration: none;
    color: #fff;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    min-width: 118px;
    /* padding: 17px 34px; */
    color: white;
    font-size: 1.8rem;
    font-family: Poppins;
    font-weight: 600;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}

/* header */

.header {
    padding: 36px 0 20px;
    position: sticky;
    z-index: 1;
    top: -16px;
    background-color: #fffcf4;
}
.header .navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.header ul {
    margin-left: auto;
    display: flex;
    gap: 42px;
}

/* .header li {
    display: inline-block;
} */

.header li a {
    color: #5f5b53;
    font-size: 1.6rem;
    font-family: Poppins;
    font-weight: 400;
    position: relative;
}

.header li a:hover,
.header li.active a {
    color: var(--main-color);
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
}

/* .header li {
    position: relative;
} */

.header li.active a::after {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    bottom: -2px;
    left: 0;
    border-radius: 1px;
    background-color: var(--main-color);
}

.header .sign-in-btn {
    margin-left: 70px;
    background-color: var(--main-color);
    padding: 11px 41px;
}

/* hero wrap */

.hero-wrap {
    padding: 65px 0;
    background-color: #fffcf4;
}

.hero-wrap .media-block {
    flex: 1;
    position: relative;
}

.hero-wrap .info-block {
    flex: 1;
    /* padding: 0 48px; */
    margin-left: 168px;
}

.hero-wrap .hero-img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
}

.hero-wrap h2 {
    color: #171100;
    font-size: 5.8rem;
    font-family: Sen;
    font-weight: 700;
    line-height: 68px;
    /* word-wrap: break-word; */
    margin-bottom: 22px;
}

.hero-wrap .desc {
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
}

.hero-wrap .action {
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 65px;
}

.hero-wrap .action .btn {
    background-color: #ffb900;
    padding: 17px 33px;
}

.action .watch-btn {
    display: flex;
    align-items: center;
    margin-left: 28px;
}

.action .play {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.action .play img {
    position: absolute;
    top: 14px;
    left: 17px;
}

.action .watch-btn p {
    color: #171100;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    margin-left: 14px;
}

.hero-summary {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 14px;
    background-color: #fff;
    width: 270px;
    /* height: 244px; */
    border-radius: 12px;
    padding: 24px;
    bottom: 48px;
    right: -80px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
}

.hero-summary .info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 16px;
}

.hero-summary .label {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0em;
}

.hero-summary .title {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0em;
}

.info-block .desc strong {
    color: var(--main-color);
    font-size: 4.4rem;
    font-family: Sen;
    font-weight: 700;
    margin-right: 8px;
}

.info-block .amount {
    margin-top: 12px;
}

/* COURSE */

.course {
    padding: 200px 0;
}

.course .main-content {
    flex-direction: column;
}

.course .course-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.course .heading {
    color: var(--main-color);
    font-size: 3.8rem;
    font-family: Sen;
    font-weight: 700;
}

.course .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-family: Poppins;
    font-weight: 400;
    margin-top: 16px;
    width: 458px;
    line-height: 30px;
}

.course .control {
    display: flex;
    gap: 16px;
}

.course .control-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #ffb900;
    background-color: #fff;
    border: 1px solid #ffb900;
}

.course .control-btn:hover {
    color: #fff;
    background-color: #ffb900;
}

.course-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 55px;
    gap: 30px;
}

.course-items .item {
    flex: 1;
}

.course-items .item img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.course-items .item-info {
    width: 100%;
    padding: 16px 22px;
    border: 1px solid #e2dfda;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: -3px;
}
.course-items .item:hover .item-info {
    border: none;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.course-items .item-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-heading h3 {
    color: #171100;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 30px;
    word-wrap: break-word;
}

.item-heading .rating {
    display: flex;
    align-items: center;
    gap: 2px;
}

.item-heading .rating img {
    width: 18px;
    height: 18px;
}

.item-heading .rating span {
    margin-left: 4px;
    color: #ffb900;
}

.item-info .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 30px;
    font-weight: 400;
    width: 100%;
}

.item-info .action {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    align-items: center;
}

.item-info .item-price {
    color: var(--main-color);
    font-size: 1.8rem;
    font-family: Poppins;
    font-weight: 600;
    line-height: 30px;
}

.item-info .btn {
    background: var(--main-color);
    width: 118px;
    text-align: center;
    padding: 12px 24px;
    font-size: 1.4rem;
    line-height: 26px;
}

.item-info .btn:hover {
    background: #ffb900;
    opacity: 0.9;
}
